# Ce fichier est un exemple de configuration de variables d'environements.
# Le driver utilisé est MongoDB

DATABASE_HOST = localhost
DATABASE_PORT = 27017
DATABASE_USER =
DATABASE_PASSWORD =
DATABASE_NAME = blog_api

# Json Web Token configuration
JWT_PASSPHRASE = secretkey